<!-- wp:template-part {"slug":"header","tagName":"header"} -->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">
    <!-- wp:post-title {"level":1,"align":"wide"} -->
    <!-- wp:post-content {"align":"wide"} -->

    <!-- wp:group {"className":"neiro-chat-related-answers","align":"wide","layout":{"type":"constrained"}} -->
    <div class="wp-block-group neiro-chat-related-answers alignwide">
        <!-- wp:heading {"level":2} -->
        <h2>Обсуждение и ответы ИИ</h2>
        <!-- /wp:heading -->

        <!-- wp:wp-developer-notes-theme/related-neiro-answers -->

    </div>
    <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} -->